body {
	margin: 0;
	padding: 0;
	background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.cDucZEWbuHjmKEQADGpnJgHaEK%26pid%3DApi&f=1);
  background-attachment: fixed;
	background-size: cover;
  background-repeat: no-repeat;
	font-family: sans-serif;
}

.loginBox {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 80px 40px;
	transform: translate(-50%, -50%);
	width: 350px;
	box-sizing: border-box;
	background: rgb(0,0,0,.5);
}

.user {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px)
}

h2 {
	margin: 0;
	padding: 0 0 20px;
	color: #efed40;
	text-align: center;
}

.loginBox p {
margin: 0;
padding: 0;
font-weight: bold;
color: #fff;
}

.loginBox input {
	width: 100%;
	margin-bottom: 20px;
}

#email, #password {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
  opacity: 0.9;
	font-size: 16px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

input {
	color: yellow;
}

#submit {
border: none;
outline: none;
color: #fff;
font-size: 16px;
background: #ff267e;
cursor: pointer;
border-radius: 20px;
padding: 1 auto;
 }

#submit:hover {
	background: #efed40;
	color: #262626;
	transition: 1s;
}

.loginBox a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;  
}

.loginBox a:hover {
  font-size: 16px;
  font-weight: bold;
}
